# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [2]:
sep_lines = '\n'+'-'*75+'\n'

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
%reload_ext autoreload
%autoreload 2

In [5]:
# Your code goes here
import sys
import pandas as pd
sys.path.append(('./'))

In [6]:
from Car_Cleaning import run_clean_func

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df = run_clean_func(df).reset_index(drop=True)
check = pd.read_csv('insurance_cleansed.csv')
print(df.compare(check))

Empty DataFrame
Columns: []
Index: []

In [7]:
file_2 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv"
file_3 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv"
df_2 = run_clean_func(pd.read_csv(file_2)).reset_index(drop=True)
df_3 = run_clean_func(pd.read_csv(file_3)).reset_index(drop=True)

car_df = pd.concat([df,df_2,df_3])
car_df.shape, car_df.columns, car_df.dtypes

((9137, 11),
 Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
        'income', 'monthly_premium_auto', 'number_of_open_complaints',
        'policy_type', 'vehicle_class', 'total_claim_amount'],
       dtype='object'),
 customer                      object
 state                         object
 gender                        object
 education                     object
 customer_lifetime_value      float64
 income                       float64
 monthly_premium_auto         float64
 number_of_open_complaints      int64
 policy_type                   object
 vehicle_class                 object
 total_claim_amount           float64
 dtype: object)

In [8]:
for column in car_df.columns:
    if len(car_df[column].unique()) < 100:
        print(column)
        print(car_df[column].unique(), end=sep_lines)

state
['Washington' 'Arizona' 'Nevada' 'California' 'Oregon']
---------------------------------------------------------------------------
gender
['F' 'M']
---------------------------------------------------------------------------
education
['Master' 'Bachelor' 'High School or Below' 'College' 'Doctor']
---------------------------------------------------------------------------
number_of_open_complaints
[ 0  2  1  3  5  4 -1]
---------------------------------------------------------------------------
policy_type
['Personal Auto' 'Corporate Auto' 'Special Auto']
---------------------------------------------------------------------------
vehicle_class
['Four-Door Car' 'Two-Door Car' 'SUV' 'Luxury']
---------------------------------------------------------------------------

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [9]:
mark_data = pd.read_csv('https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv')

In [10]:
# Your code goes here
pd.set_option('display.max_columns', None)
mark_data.head(3)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.0,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.0,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.0,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [11]:
# 1

# Get pivot table based on total claim as total revenue

pivot_data = mark_data.pivot_table(index='sales_channel', values=['total_claim_amount'], aggfunc='sum').round(2)
pivot_data

               total_claim_amount
sales_channel
Agent                  1810226.82
Branch                 1301204.00
Call Center             926600.82
Web                     706600.04

In [12]:
# 2
pivot_data_2 = mark_data.pivot_table(index='education', columns='gender', values=['customer_lifetime_value'], aggfunc='mean').round(2)
pivot_data_2

                     customer_lifetime_value
gender                                     F        M
education
Bachelor                             7874.27  7703.60
College                              7748.82  8052.46
Doctor                               7328.51  7415.33
High School or Below                 8675.22  8149.69
Master                               8157.05  8168.83

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [13]:
# Your code goes here